body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    align-items: center;
}
form{
    width: 300px;
    background-color: rgb(237, 240, 243);
}
input{
    width: 80%;
    padding: 10px;
    background-color: white;
}
button{
    background-color: rgb(22, 90, 192);
    color: rgb(25, 13, 13);
    padding: 10px;
    border: 0cap;
}
h2{
    font-weight: 100;
    color: blue;
}